language: generic

sudo: false

cache:
  directories:
    - $HOME/miniconda3

before_cache:
  - rm -rf $HOME/miniconda3/pkgs/cache
  - rm -rf $HOME/miniconda3/envs/exoctk-3.7
  - rm -rf $HOME/miniconda3/envs/exoctk-3.8
  - rm -rf $HOME/miniconda3/envs/exoctk-3.9

os:
  - linux
  - osx

env:
  - PYTHON_VERSION="3.7"
  - PYTHON_VERSION="3.8"
  - PYTHON_VERSION="3.9"

before_install:
  - export PATH="$HOME/miniconda3/bin:$PATH"
  - export EXOCTK_DATA="$HOME/exoctk_data/"
  - chmod +x ci/install_conda.sh
  - chmod +x ci/setup_conda_env.sh

install:
  - ci/install_conda.sh
  - ci/setup_conda_env.sh
  - python setup.py install

script:
  - export PATH="$HOME/miniconda3/envs/exoctk-$PYTHON_VERSION/bin:$PATH"
  - travis_wait 30 pytest