asteval==0.9.25
astropy==4.2.1
bandit==1.7.0
batman-package==2.4.6
bibtexparser==1.2.0
bokeh==2.3.2
boto3==1.17.103
corner==2.2.1
cython==0.29.23
ddtrace==0.49.3
docopt==0.6.2
docutils==0.17.1
flake8==3.9.2
flask==2.0.1
flask_wtf==0.15.1
gunicorn==20.1.0
h5py==3.3.0
ipython==7.25.0
lmfit==1.0.1
matplotlib==3.4.2
numpy==1.21.0
numpydoc==1.1.0
pandas==1.2.5
paramiko==2.7.2
platon==5.3
pysiaf==0.10.0
pysynphot==1.0.1
pytest==6.2.4
pyyaml==5.4.1
scipy==1.7.0
scp==0.13.5
sphinx==4.0.2
sphinx_astropy==1.3
sphinx-automodapi==0.13
svo_filters==0.4.1
sqlalchemy==1.4.20
twine==3.4.1
wtforms==2.3.3
git+https://github.com/spacetelescope/jwst_gtvt.git@cd6bc76f66f478eafbcc71834d3e735c73e03ed5
git+https://github.com/astropy/astroquery.git@ccc96185beeff86f3a12a31a00a801afcebe1dbe
