asteval==0.9.26
astropy==5.0.1
bandit==1.7.2
batman-package==2.4.8
bibtexparser==1.2.0
bokeh==2.4.2
boto3==1.20.46
corner==2.2.1
cython==0.29.27
ddtrace==0.57.3
docopt==0.6.2
docutils==0.18.1
flake8==4.0.1
flask==2.0.2
flask_wtf==1.0.0
gunicorn==20.1.0
h5py==3.6.0
ipython==8.0.1
lmfit==1.0.3
matplotlib==3.5.1
numpy==1.22.1
numpydoc==1.2
pandas==1.4.0
paramiko==2.9.2
platon==5.3
pysiaf==0.14.0
pysynphot==2.0.0
pytest==6.2.5
pyyaml==6.0
scipy==1.7.3
scp==0.14.2
sphinx==4.3.2
sphinx_astropy==1.6.0
sphinx-automodapi==0.14.0
svo_filters==0.4.1
sqlalchemy==1.4.29
twine==3.7.1
werkzeug>=2.0
wtforms==3.0.1
git+https://github.com/spacetelescope/jwst_gtvt.git@cd6bc76f66f478eafbcc71834d3e735c73e03ed5
git+https://github.com/astropy/astroquery.git@ccc96185beeff86f3a12a31a00a801afcebe1dbe
