asteval==0.9.26
astropy==5.0.4
bandit==1.7.4
batman-package==2.4.8
bibtexparser==1.2.0
bokeh==2.4.2
boto3==1.21.31
corner==2.2.1
cython==0.29.28
ddtrace==0.60.1
docopt==0.6.2
docutils==0.18.1
flake8==4.0.1
flask==2.1.1
flask_wtf==1.0.1
gunicorn==20.1.0
h5py==3.6.0
ipython==8.2.0
matplotlib==3.5.1
numpy==1.22.3
numpydoc==1.2.1
pandas==1.4.1
paramiko==2.10.3
platon==5.3
pysiaf==0.15.0
pysynphot==2.0.0
pytest==7.1.1
pyyaml==6.0
scipy==1.8.0
scp==0.14.4
sphinx==4.5.0
sphinx_astropy==1.7.0
sphinx-automodapi==0.14.1
svo_filters==0.4.1
sqlalchemy==1.4.34
twine==3.7.1
werkzeug>=2.0
wtforms==3.0.1
git+https://github.com/spacetelescope/jwst_gtvt.git@cd6bc76f66f478eafbcc71834d3e735c73e03ed5
git+https://github.com/astropy/astroquery.git@ccc96185beeff86f3a12a31a00a801afcebe1dbe
