{%extends "base.html" %}

{% block content %}
<!doctype html>

<script>
    $(document).ready(function(){

        $('#inst').on('change', function() {
            $('#modesubmit').click();
        });

    });
</script>

<div class='form-group'>
	<h1>Contamination & Visibility Calculator</h1>
    <br>


    	<p>This tool is designed for the slitless observation modes of all JWST instruments.
    	For slitless observations, the spectrum of a target star may be contaminated by partially overlapping spectra of
    	nearby stars. For a given target, this contamination depends on the
    	position angle (PA) at which the observations are taken. This tool simulates NIRISS SOSS, NIRCam Grism Time Series, and MIRI LRS observations of a
    	given target, and produces an estimate of the level of contamination as a function of the PA of the
    	observation, thus making it useful to plan observations at the optimal PA. The tool also computes the JWST
    	accessibility windows of the target, along with the corresponding accessible PAs for the chosen instrument/observation mode.
    	</p>
        <p>Note: The field stars used for this analysis are retrieved from the 2MASS point source catalogue. Contamination from stars missing from the 2MASS PSC is thus not modelled; this may be important for faint targets.</p>

    <form class='form-horizontal' action="/contam_visibility" method="POST" />

        {{ form.hidden_tag() }}

        {% include 'target_resolve.html' %}

        <hr class="col-md-12">

        <div class='form-group'>

            <label class="col-sm-2 control-label">Coordinates</label>

            <div class="col-sm-10">

                <div class="input-group">
                  <div class="input-group-addon" style='width:60px'>R.A.</div>
                      {{ form.ra(value=form.ra.data, size=10, rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>Decimal Degrees</div>
                </div>
                <span id="helpBlock" class="help-block">The right ascension of the target</span>
                <br>

                <div class="input-group">
                  <div class="input-group-addon" style='width:60px'>Decl.</div>
                      {{ form.dec(value=form.dec.data, size=10, rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>Decimal Degrees</div>
                </div>
                <span id="helpBlock" class="help-block">The declination of the target</span>
                <br>
                {% for error in form.ra.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% for error in form.dec.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
		<hr class="col-md-12">

		<div class='form-group'>

				<label class="col-sm-2 control-label">Instrument - Mode</label>
                <div class="col-sm-10">
                    <select class='form-control' name="inst" id="inst" style='width:200px;'>
                        {% for option in form.inst %}
                            <div class='radio'>
                                {{ option }}
                            </div>
                        {% endfor %}
                    </select>
				</div>
		</div>
        {{ form.mode_submit(id='modesubmit', style="visibility: hidden;") }}

        <hr class="col-md-12">

        <div class='form-group'>

            <label for='' class="col-sm-2 control-label">Add a close binary companion not present in 2MASS (optional)</label>
            <div class="col-sm-10">
                {{ form.companion(value=form.companion.data, size=50, rows=1, class='form-control') }}
                <span id="helpBlock" class="help-block">RA offset (&quot;), DEC offset (&quot;), 2MASS J (mag), H (mag) and Ks (mag) [comma separated, no spaces]</span>
            </div>
            <br>
            {% for error in form.companion.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>

        <hr class="col-md-12">

        <div class='form-group'>

            <label class="col-sm-2 control-label">Position Angle Range (optional)</label>

            <div class="col-sm-10">

                <div class="input-group">
                  <div class="input-group-addon" style='width:120px'>PA Min</div>
                      {{ form.pa_min(value=form.pa_min.data, size=10, rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>Degrees</div>
                </div>
                <span id="helpBlock" class="help-block">The lower limit on the position angle</span>
                <br>

                <div class="input-group">
                  <div class="input-group-addon" style='width:120px'>PA Max</div>
                      {{ form.pa_max(value=form.pa_max.data, size=10, placeholder="3 - 6", rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>Degrees</div>
                </div>
                <span id="helpBlock" class="help-block">The upper limit on the position angle</span>
                <br>
                {% for error in form.pa_min.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% for error in form.pa_max.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <hr class="col-md-12">
        <div class='form-group'>
            <label for='submit' class="col-sm-2 control-label">Submit!</label>
            <div class="col-sm-10">
                <p>
                    {{ form.calculate_submit(class="btn btn-success") }}
                    <span id="helpBlock" class="help-block">Calculate only the visibility of the target.</span>
                </p>
                <br>
                <p>
                    {{ form.calculate_contam_submit(disabled=form.calculate_contam_submit.disabled, class="btn btn-success") }}
                    <span id="helpBlock" class="help-block">Calculate the visibility and the contamination. Please be patient, this calculation takes a while.</span>
                </p>
            </div>
        </div>
    </form>
</div>


{% endblock %}
