{%extends "base.html" %}

{% block content %}
<!doctype html>

<div class='form-group'>
	<h1>Contamination & Visibility Calculator</h1>
    <br>


    	<p>This tool is designed for Single-Object Slit-less Spectroscopy (SOSS) mode of NIRISS.
    	For slitless observations, the spectrum of a target star may be contaminated by partlially overlapping spectra of
    	nearby stars. For a given target this contamination depends on the
    	position angle (PA) at which the observations are taken. This tool simulates SOSS observations of a
    	given target and produces an estimate of the level of contamination as a function of the PA of the
    	observation; it may be used to plan observations at the optimal PA. The tool also computes the JWST
    	accessibility windows of the target, along with the corresponding accessible PAs for NIRISS observations. In the future, functionality will be extended to calculate contamination by other instruments.
    	</p>
        <p>Note: The field stars used for this analysis are retrieved from the 2MASS point source catalogue. Contamination from stars missing from the 2MASS PSC is thus not modelled; this may be important for faint targets.</p>

    <form class='form-horizontal' action="/contam_visibility" method="POST" />

        {{ form.hidden_tag() }}

        <hr class="col-md-12">

        <div class='form-group'>
            
            <label for='mag' class="col-sm-2 control-label">Target Name (optional)</label>
            <div class="col-sm-10">
                
                    <div class="input-group">
                        {{ form.targname(size=32, placeholder="WASP-18 b") }}<br>
                    </div>
                    <span id="helpBlock" class="help-block">The name of a target to resolve in ExoMAST</span>
                    <div class="input-group">
                        {{ form.resolve_submit(class="btn btn-success") }}
                    </div>
                    {% if form.target_url.data %}
                        <br>
                        <div>
                            <a href='{{ form.target_url.data }}'>Target found: {{ form.targname.data }}</a>
                        </div>
                    {% endif %}

                    {% for error in form.targname.errors %}
                        <br>
                        <p style="color: red; margin-bottom: 0;">{{ error }}</p>
                    {% endfor %}
            </div>
            
        </div>

        <hr class="col-md-12">

        <div class='form-group'>

            <label class="col-sm-2 control-label">Coordinates</label>

            <div class="col-sm-10">
                
                <div class="input-group">
                  <div class="input-group-addon" style='width:60px'>R.A.</div>
                      {{ form.ra(value=form.ra.data, size=10, rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>Decimal Degrees</div>
                </div>
                <span id="helpBlock" class="help-block">The right ascension of the target</span>
                <br>

                <div class="input-group">
                  <div class="input-group-addon" style='width:60px'>Decl.</div>
                      {{ form.dec(value=form.dec.data, size=10, rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>Decimal Degrees</div>
                </div>
                <span id="helpBlock" class="help-block">The declination of the target</span>
                <br>
                {% for error in form.ra.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% for error in form.dec.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
		<hr class="col-md-12">

		<div class='form-group'>

				<label class="col-sm-2 control-label">Instrument - Mode</label>
                <div class="col-sm-10">
                    <select class='form-control' name="inst" id="inst" style='width:200px;'>
                        {% for option in form.inst %}
                            <div class='radio'>
                                {{ option }}
                            </div>
                        {% endfor %}
                    </select>
				</div>
		</div>

        <hr class="col-md-12">

        <div class='form-group'>

            <label for='' class="col-sm-2 control-label">Add a close binary companion not present in 2MASS (optional)</label>
            <div class="col-sm-10">
                {{ form.companion(value=form.companion.data, size=50, rows=1, class='form-control') }}
                <span id="helpBlock" class="help-block">RA offset (&quot;), DEC offset (&quot;), 2MASS J (mag), H (mag) and Ks (mag) [comma separated, no spaces]</span>
            </div>
            <br>
            {% for error in form.companion.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>

        <hr class="col-md-12">

        <div class='form-group'>

            <label class="col-sm-2 control-label">Position Angle Range (optional)</label>

            <div class="col-sm-10">
                
                <div class="input-group">
                  <div class="input-group-addon" style='width:120px'>\(T_\text{eff}\)</div>
                      {{ form.pa_min(value=form.pa_min.data, size=10, rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>K</div>
                </div>
                <span id="helpBlock" class="help-block">The lower limit on the position angle</span>
                <br>

                <div class="input-group">
                  <div class="input-group-addon" style='width:120px'>\(\log (g)\)</div>
                      {{ form.pa_max(value=form.pa_max.data, size=10, placeholder="3 - 6", rows=1, class='form-control') }}
                  <div class="input-group-addon" style='width:60px'>dex</div>
                </div>
                <span id="helpBlock" class="help-block">The upper limit on the position angle</span>
                <br>
                {% for error in form.pa_min.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% for error in form.pa_max.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <hr class="col-md-12">
        <div class='form-group'>
            <label for='submit' class="col-sm-2 control-label">Submit!</label>
            <div class="col-sm-10">
                <p>
                    {{ form.calculate_submit(class="btn btn-success") }}
                    <span id="helpBlock" class="help-block">This can take up to 20 seconds! Please be patient.</span>
                </p>
            </div>
        </div>

        <script>
        	function button()
        	{
        	 var inst_select = document.getElementsById("inst");
        	 var inst_val = inst_select.options[inst_select.selectedIndex].value;
        	 var bt = document.getElementsById('submit');
        	 if (inst_val == "NIRISS")
        	 {
        		bt.disabled = false;
        	 }
        	 else
        	 {
        	 bt.disabled = true;
        	 }
           }
         </script>





              </div>
        </div>

    </form>
</div>


{% endblock %}
