{% extends "base.html" %}

{% block content %}

  <body>
    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}


    <div class="page">
        <h1>Fortney Grid</h1>

            <div class="col-md-9">
                <p>
Scaling function for the generic ATMO grid presented in Goyal, J., et al., 2018b, MNRAS, accepted for publication October 30th 2018.
                </p>

            </div>

        <form name="generic" method='GET'>
        <hr class="col-md-11 col-md-offset-1">
        <br></br>
        <h2>Scaling Parameters</h2>
        <br></br>
        <div class='form-group'>
            <label class="col-md-3 control-label" for="tp">Planet Temperature (in K)</label>
          <div class="col-md-4 form-inline">
            <input type="text" class="form-control" id="tp" name="tp" style="width: 70%;" value="1.5">
        </div>
        </div>
        <br></br>
        
        <div class='form-group'>
            <label class="col-md-3 control-label" for="gp">Planet Gravity (in g)</label>
          <div class="col-md-4 form-inline">
            <input type="text" class="form-control" id="gp" name="gp" style="width: 70%;" value="1.5">
        </div>
        </div>
        
        <hr class="col-md-11 col-md-offset-1">
        <br></br>
        <h2>Stellar and Planet Parameters</h2>
        <br></br>

        <div class='form-group'>
            <label class="col-md-3 control-label" for="rp">Planet Radius (in jupiter radius)</label>
          <div class="col-md-4 form-inline">
            <input type="text" class="form-control" id="rp" name="rp" style="width: 70%;" value="1.5">
        </div>
        </div>
        <br></br>
        
        <div class='form-group'>
            <label class="col-md-3 control-label" for="rs">Stellar Radius (in solar radius)</label>
          <div class="col-md-4 form-inline">
            <input type="text" class="form-control" id="rs" name="rs" style="width: 70%;" value="1.5">
        </div>
        </div>
    
    <div class='form-group'>
        
        <hr class="col-md-11 col-md-offset-1">
        <br></br>
        <h2>Standard Model Parameters</h2>
        <br></br>
        
        <div class='form-group'>
            <label class="col-md-3 control-label" for="condensation">Pick the local or rainout condensation.</label>
         <div class="col-md-3">
            <select id="condensation" name="condensation" class="form-control">
                    <option value="local">local</option>
                    <option value="rainout">rainout</option>
            </select>
        </div>
        </div>
        <br></br>
        
        <div class='form-group'>
            <label class="col-md-3 control-label" for="metallicity">Pick the metallicity.</label>
         <div class="col-md-3">
            <select id="pchem" name="metallicity" class="form-control">
                <option value="+0.0">0.0</option>  
                <option value="+1.0">1.0</option>         
                <option value="+1.7">1.7</option>         
                <option value="+2.0">2.0</option>         
                <option value="+2.3">2.3</option>         
            </select>
        </div> 
        </div> 
        <br></br>
        
        <div class='form-group'>
        <label class="col-md-3 control-label" for="c_o">Pick the Carbon to Oxygen ratio</label>
        <div class="col-md-3">
            <select id="c_o" name="c_o" class="form-control">
                <option value="0.35">0.35</option>  
                <option value="0.56">0.56</option>  
                <option value="0.70">0.70</option>             
                <option value="1.00">1.00</option>             
            </select>
        </div> 
        </div> 
        <br></br>
        
        <div class='form-group'>
        <label class="col-md-3 control-label" for="haze">Pick the haze value.</label>
        <div class="col-md-3">
            <select id="haze" name="haze" class="form-control">
                <option value="0001">1</option>  
                <option value="0010">10</option>  
                <option value="0150">150</option>             
                <option value="1100">1100</option>             
            </select>
        </div> 
        </div> 
        <br></br>
        
        <div class='form-group'>
        <label class="col-md-3 control-label" for="cloud">Pick the cloud value.</label>
        <div class="col-md-3">
            <select id="cloud" name="cloud" class="form-control">
                <option value="0.00">0.00</option>  
                <option value="0.06">0.06</option>  
                <option value="0.20">0.20</option>             
                <option value="1.00">1.00</option>             
            </select>
        </div> 
        </div> 

 <hr class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>

        </form>
    </div>
    <br></br>
    <h3> {{ error_message }} </h3>
    <br></br>
    <div style="display:table; margin:0 auto;">
        {{ plot_div|indent(4)|safe }}
    </div>

    <div>
        <form action="/generic_result" method="post">
            <input type="hidden" name="data_file" value="{{ table_string }}" />
            <input class="btn btn-primary" type='submit' value='Save File'></p>
        </form>
    </div>
    <div>
        <h3>References</h3>

    </div>
  </body>

{% endblock%}
