{%extends "base.html" %}

{% block content %}
<!doctype html>
<link rel="stylesheet" href="/static/css/select2-bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/icheck-bootstrap.min.css">
<script type="text/javascript" async
        scr="/static/js/starter.form.js">
</script>
<script type="text/javascript" async
        src="/static/js/select2.min.js">
</script>
<script type="text/javascript">
    /* Courtesy of Natasha and Joe */
    $(document).ready(function(){
      /*  $("select").select2({
            theme: "bootstrap",
            width: "100%",
            minimumResultsForSearch: 7
        });  */

        $("#ins").change(function () {
            $("#miri_filt, #nirspec_filt, #niriss_filt, #nircam_filt, #miri_filt_ta, #nirspec_filt_ta, #niriss_filt_ta, #nircam_filt_ta, #miri_sub, #nirspec_sub, #niriss_sub, #nircam_sub, #miri_sub_ta, #nircam_sub_ta, #niriss_sub_ta, #nirspec_sub_ta").hide(); 
            var selopt = $("#ins").val();
            switch (selopt) {
                case "miri":
                    $("#miri_filt").show();
                    $("#miri_filt_ta").show();
                    $("#miri_sub").show();
                    $("#miri_sub_ta").show();
                    break;
                case "nirspec":
                    $("#nirspec_filt").show();
                    $("#nirspec_filt_ta").show();
                    $("#nirspec_sub").show();
                    $("#nirspec_sub_ta").show();
                    break;
                case "niriss":
                    $("#niriss_filt").show();
                    $("#niriss_filt_ta").show();
                    $("#niriss_sub").show();
                    $("#niriss_sub_ta").show();
                    break;
                case "nircam":
                    $("#nircam_filt").show();
                    $("#nircam_filt_ta").show();
                    $("#nircam_sub").show();
                    $("#nircam_sub_ta").show();
                    break;
            }
        });
    });
</script>

<div class='form-group'>
    <h1>Groups & Integrations Calculator</h1>
    <br>
            
    <p>
        This tool calculates the groups and integrations for an optimal transit observation.
        We require some information about your background star, transit, and 
        planned use of JWST (instrument, subarray, and filter), in order to interpolate your
        planned transit observation to our nearest information from 
        <a href="https://jwst.stsci.edu/science-planning/proposal-planning-toolbox/exposure-time-calculator-etc">pandeia</a>
        (which powers the <a href="https://jwst.etc.stsci.edu/">JWST ETC</a>.) 
        
    </p>

            <p> Please know that at present this tool is likely to
            overestimate saturation on direct comparison to the ETC. (This
            means we may predict less groups -- and put you in LESS danger of
            oversaturating your observation.)</p> 

    <form class='form-horizontal' id='searchform' method='post'>
        
        <hr class="col-md-12">
        

        <div class='form-group'>
            <label for='mag' class="col-sm-2 control-label">Resolve Target</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" name="targetname" value = "{{ groupIntVars['tname'] }}" size="30" maxlength="110"/><br>
                </div>
                <span id="helpBlock" class="help-block">Please enter target name</span>
                <div class="input-group">
                    <input class="btn btn-success" type="submit" name="submit" value="Resolve Target"/>
                </div>
                <span id="helpBlock" class="help-block">If target is unresolved, reload page and enter parameters manually</span>
            </div>


        </div>
        
        <br>

        <hr class="col-md-12">

        <div class='form-group'>
            
            <label for='mag' class="col-sm-2 control-label">Stellar Parameters</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" name="mag" size="7" rows="1" placeholder="magnitude" value="{{ groupIntVars['k_mag'] }}" class='form-control' />
                    <div class="input-group-addon" style='width:50px'>\(\small \text{mag}\)</div>
                 </div>
                 <span id="helpBlock" class="help-block">The vega magnitude of the target.</span>
            </div>
            
        </div>
        
        <br>
        
        <div class='form-group'>
                        
            <label for='band' class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div class="input-group">
               
                     <select class='form-control' name="band">
                         <option value="k">K</option>
                         </select>
                   
                </div>
                 <span id="helpBlock" class="help-block">The photometric band
                     of the above magnitude. (More bands will be available soon.) </span>
            </div>
                
        </div>
        
        <div class='form-group'>
                        
            <label for='mod' class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div class="input-group">
               
                     <select class='form-control' name="mod">
                        <option value="a0i">A0I 9750 2.0</option>
                        <option value="aov">A0V 9500 2.0</option>
                        <option value="a1v">A1V 9250 4.0</option>
                        <option value="a5i">A5I 8500 2.0</option>
                        <option value="a3v">A3V 8250 4.0</option>
                        <option value="a5v">A5V 8250 4.0</option>
                        <option value="f0i">F0I 7750 2.0</option>
                        <option value="f0v">F0V 7250 1.5</option>
                        <option value="f5i">F5I 7000 4.0</option>
                        <option value="f2v">F2V 7000 4.0</option>
                        <option value="f5v">F5V 6500 4.0</option>
                        <option value="f8v">F8V 6250 4.5</option>
                        <option value="g0v">G0V 6000 4.5</option>
                        <option value="g0iii">G0III 5750 3.0</option>
                        <option value="g2v">G2V 5750 4.5</option>
                        <option value="g5v">G5V 5750 4.5</option>
                        <option value="g0i">G0I 5500 1.5</option>
                        <option value="g8v">G8V 5500 4.5</option>
                        <option value="g5iii">G5III 5250 2.5</option>
                        <option value="g5i">G5I 4740 1.0</option>
                        <option value="k0v">K0V 5250 4.5</option>
                        <option value="k0iii">K0III 4750 2.0</option>
                        <option value="k2v">K2V 4750 4.5</option>
                        <option value="k0i">K0I 4500 1.0</option>
                        <option value="k5v">K5V 4250 1.5</option>
                        <option value="k5iii">K5III 4000 1.5</option>
                        <option value="k7v">K7V 4000 4.5</option>
                        <option value="k5i">K5I 3750 0.5</option>
                        <option value="m0i">M0I 3750 0.0</option>
                        <option value="m0iii">M0III 2750 1.5</option>
                        <option value="m0v">M0V 3750 4.5</option>
                        <option value="m2i">M2I 3500 0.0</option>
                        <option value="m2v">M2V 3500 4.5</option>
                        <option value="m5v">M5V 3500 5.0</option>
                    </select>
                   
                </div>
                 <span id="helpBlock" class="help-block"> Stellar phoenix model
                 that most closely matches your star. </span>
            </div>
                
        </div>
        <hr class="col-md-12">
        
        <div class='form-group'>
            
            <label for='obs_time' class="col-sm-2 control-label">Observation Time</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" name="obs_time" size="7" rows="1" placeholder="time" value="{{ groupIntVars['obs_dur'] }}" class='form-control' />
                    <div class="input-group-addon" style='width:50px'>\(\small \text{hours}\)</div>
                 </div>
                 <span id="helpBlock" class="help-block">The length of the observation in hours</span>
                 <span id="helpBlock" class="help-block">If you are coming from EXOMAST, we convert from days to hours and calculate using <code>observation_duration = 3*transit_duration+1</code></span>
            </div>
            
        </div>
        
        <hr class="col-md-12">
        
        <div class='form-group'>
            
            <label for='n_group' class="col-sm-2 control-label">Groups Per Integration</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" name="n_group" size="7" rows="1" value='optimize' placeholder="groups" class='form-control' />
                    <div class="input-group-addon" style='width:50px'></div>
                 </div>
                 <span id="helpBlock" class="help-block">If you are unsure, just enter <code>optimize</code></span>
            </div>
            
        </div>
        
        <hr class="col-md-12">
        
        <div class='form-group'>                
            <label for='ins' class="col-sm-2 control-label">Instrument</label>
            <div class="col-sm-2">
                <select class='form-control' name="ins" id="ins" data-placeholder="INS" >
                    <option value="miri"> MIRI</option>
                    <option value="nircam">NIRCam</option>
                    <option value="niriss">NIRISS</option>
                    <option value="nirspec">NIRSpec</option>
                </select>
                   
            </div>
            
                 <p class="help-block">The JWST instrument</p>
        </div>        
        <hr class="col-md-12">
        
        <div class='form-group' id="instrument-mode-section">
                        
            <label for='filt' class="col-sm-2 control-label">Filter</label>
            <div class="col-sm-2" id="miri_filt" >
                <select class='form-control' name="miri_filt">
                    <option value="lrs">LRS</option>
                </select>
            </div>
            
            <div class="col-sm-2" id="nircam_filt" style="display:none;">
                <select class='form-control' name="nircam_filt">
                    <option value="f322w2">F322W2</option>
                    <option value="f444w">F444W</option>
                    <option value="f277w">F277W</option>   
                </select>
            </div>

            <div class="col-sm-2" id="niriss_filt" style="display:none;">
                <select class='form-control' name="niriss_filt">
                    <option value="soss">SOSS</option>
                </select>
            </div>

            <div class="col-sm-3" id="nirspec_filt" style="display:none;">
                <select class='form-control' name="nirspec_filt">
                    <option value="f070lp_g140h">F070LP/G140H</option>
                    <option value="f100lp_g140h">F100LP/G140H</option>
                    <option value="f070lp_g140m">F070LP/G140M</option>
                    <option value="f100lp_g140m">F100LP/G140M</option>
                    <option value="f170lp_g235h">F170LP/G235H</option>
                    <option value="f170lp_g235m">F170LP/G235M</option>     
                    <option value="f290lp_g395h">F290LP/G395H</option>
                    <option value="f290lp_g395m">F290LP/G395M</option>   
                </select>
            </div>
            <p class="help-block">The photometric bandpass or grism for your science observation.</p>
            </div>

            <br>
        
        <div class='form-group' id="instrument-mode-section">

            <label for='filt_ta' class='col-sm-2 control-label' ></label>
            <div class="col-sm-2" id="miri_filt_ta" >
                <select class='form-control' name="miri_filt_ta">
                    <option value="f560w">F560W</option>
                    <option value="f100w">F100W</option>
                    <option value="f1500w">F1500W</option>
                </select>
            </div>

            <div class="col-sm-2" id="nircam_filt_ta" style="display:none;"> 
                <select class='form-control' name="nircam_filt_ta">    
                    <option value="f335m">F335M</option>
                </select>
            </div>

            <div class="col-sm-2" id="niriss_filt_ta" style="display:none;">
                <select class='form-control' name="niriss_filt_ta">
                    <option value="f480m">F480M</option>
                </select>
            </div>

            <div class="col-sm-2" id="nirspec_filt_ta" style="display:none;">
                <select class='form-control' name="nirspec_filt_ta">
                    <option value="f110w">F110W</option>
                    <option value="f140x">F140X</option>
                    <option value="clear">CLEAR</option>`
                </select>
                   
            </div>
            <p class="help-block">The filter for target acquisition.</p>
            </div>

        <hr class="col-md-12">
        
        <div class='form-group' id="instrument-mode-section">
                        
            <label for='subarray' class="col-sm-2 control-label">Subarray</label>
            <div class="col-sm-3" id="miri_sub" >
                <select class='form-control' name="miri_subarray">
                    <option value='slitlessprism'>SLITLESSPRISM</option>
                </select>
            </div>

            <div class="col-sm-3" id="nircam_sub" style="display:none;">
                <select class='form-control' name="nircam_subarray">    
                    <option value='full'>FULL FRAME</option>    
                    <option value='subgrism256'>SUBGRISM256</option>    
                    <option value='subgrism128'>SUBGRISM128</option>
                    <option value='subgrism64'>SUBGRISM64</option>    
                </select>
            </div>
            
            <div class="col-sm-3" id="niriss_sub" style="display:none;">
                <select class='form-control' name="niriss_subarray">
                    <option value='substrip256'>SUBSTRIP256</option>
                    <option value='substrip96'>SUBSTRIP96</option>
                </select>
            </div>

            <div class="col-sm-3" id="nirspec_sub" style="display:none;">
                <select class='form-control' name="nirspec_subarray">
                    <option value='sub2048'>SUB2048</option>    
                    <option value='sub1024a'>SUB1024A</option>
                    <option value='sub1024b'>SUB1024B</option>    
                    <option value='sub512'>SUB512</option>
                </select>
            </div>
                 <p class="help-block">The full frame or subarray mode for your science observation.</p>
        </div>
        
        <br> 
        
        <div class='form-group'>
            
            <label for='subarray_ta' class='col-sm-2 control-label'></label>
            <div class="col-sm-3" id="miri_sub_ta" >
                <select class='form-control' name="miri_subarray_ta">
                    <option value='slitlessprism'>SLITLESSPRISM</option>
                </select>
            </div>
            
            <div class="col-sm-3" id="nircam_sub_ta" style="display:none;">
                <select class='form-control' name="nircam_subarray_ta">    
                    <option value='sub32tats'>SUB32TATS</option>
                </select>
            </div>
            
            <div class="col-sm-4" id="niriss_sub_ta" style="display:none;">
                <select class='form-control' name="niriss_subarray_ta">    
                    <option value='nrm'>SUBTASOSS -- BRIGHT</option>
                    <option value='im'>SUBTASOSS -- FAINT</option>
                </select>
            </div>

            <div class="col-sm-3" id="nirspec_sub_ta" style="display:none;">
                <select class='form-control' name="nirspec_subarray_ta">    
                    <option value='full'>FULL</option>
                    <option value='sub32'>SUB32</option>
                    <option value='sub2048'>SUB2048</option>
                </select>
            </div>
                 <p class="help-block">The subarray mode for target acquisition. </p>
        </div>
        
        <hr class="col-md-12">
        
        <div class='form-group'>
            <label for="sat_mode" class="col-sm-2 control-label">Maximum Saturation</label>
            <div class="col-sm-10">
                <div class='radio-inline'>
                    <label>
                        <input type="radio" name="sat_mode" value="counts"/> Counts
                    </label>
                </div>
                <div class='radio-inline'>
                    <label>
                        <input type="radio" name="sat_mode" value="well" checked/> Full well fraction
                    </label>
                </div>
                <span id="helpBlock" class="help-block">How to measure the
                    saturation.</span>
            </div>
            
        </div>
        
        <br>
        
        <div class='form-group'>
            
            <label for='sat_max' class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" name="sat_max" size="7" rows="1" value='0.95' placeholder="Counts or Full Well Fraction" class='form-control' />
                    <div class="input-group-addon" style='width:50px'></div>
                 </div>
                 <span id="helpBlock" class="help-block">The level of
                     saturation.</span>
            </div>
    
            <p class="myBody">
                Some background on saturation levels to inform your decision --
                following is the saturation cap built into the ETC, and the 
                current estimates of max possible saturation (which is what we
                use when you opt for well fraction). 
            </p>
            
                <br></br>
                    <table id="myTable">
                        <tr class="header">
                            <th>MIRI</th>
                            <th>NIRCam</th>
                            <th>NIRSpec</th>
                            <th>NIRISS</th>
                            <th> fullwell </th>
                        </tr>
                        <tr>
                            <td>{{ sat_data['miri'] }}</td>
                            <td>{{ sat_data['nircam'] }}</td>
                            <td>{{ sat_data['nirspec'] }}</td>
                            <td>{{ sat_data['niriss'] }}</td>
                            <td> JWST ETC recommendation </td>
                        </tr>
                        <tr>
                            <td>{{ 250000 }}</td>
                            <td>{{ 60000 }}</td>
                            <td>{{ 65500 }}</td>
                            <td>{{ 75000 }}</td>
                            <td> max possible saturation </td> 
                        </tr>
                    </table>

        </div>
        
        <hr class="col-md-12">
        
        <div class='form-group'>
            
            <label for='submit' class="col-sm-2 control-label">Submit!</label>
            <div class="col-sm-10">
              <p>
                <input id='submit' class="btn btn-success" type='submit' value='Calculate Groups and Integrations'></p>
                <!-- <span id="helpBlock" class="help-block">This can take up to 20 seconds! Please be patient.</span> -->
              </p>
             </div>
        </div>

{% endblock %}
