{% extends "base.html" %}
{% block content %}


                <div class="row">
                    <div class="col-md-12">

                        <p style='padding: 0 30px;'> The Exoplanet
                        Characterization ToolKit (ExoCTK) is an open-source,
                        modular, data analysis software package focused
                        primarily on the atmospheric characterization of
                        exoplanets and time-series observation planning. The
                        web application runs the most recently released version
                        of ExoCTK through a web portal designed to provide the
                        most useful tools for observation planning, forward
                        modeling, data reduction, limb darkening, light curve
                        fitting, and retrievals. The full version of ExoCTK is
                        available through <a
                         href="https://github.com/ExoCTK/exoctk">GitHub.</a></p>
                    </div>
                </div>
                <hr class="col-md-12">
                <div class="form-group col-sm-12">


                    <div class="col-sm-6">
                        <h3>Observation Planning</h3>
                        <span id="helpBlock" class="help-block">Tools for observation planning with JWST.</span>
                        <a class="btn btn-primary" href="./groups_integrations">Groups and Integrations</a>
                        <a class="btn btn-primary" href="./contam_visibility">Contamination Overlap</a>
                    </div>

                    <div class="col-sm-6">
                        <h3>Forward Modeling</h3>
                        <span id="helpBlock" class="help-block">Atmospheric forward modeling tools.</span>
                        <a class="btn btn-primary" href="./fortney">Fortney Grid</a>
                        <a class="btn btn-primary" href="./generic">Generic Grid</a>
                    </div>

                </div>

                <div class="form-group col-sm-12">

                    <div class="col-sm-6">
                        <h3>Limb Darkening Calculator</h3>
                        <p>Tools to estimate limb darkening in your host star.</p>
                            <p><a class="btn btn-primary" href="./limb_darkening">Limb Darkening Calculator</a></p>
                    </div>
                
                    <div class="col-sm-6">
                        <h3>Phase Constraint</h3>
                        <span id="helpBlock" class="help-block">Tools to estimate Phase Constraint</span>
                        <a class="btn btn-primary" href="./phase_constraint">Phase Constraint</a>
                    </div>

                </div>


<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/2/dataTables.bootstrap.js"></script>

<script>
$(document).ready(function(){
    $('#scriptstatus').DataTable( {
        "paging":   false,
        "bFilter": false,
        stateSave: true
    } );
});
</script>

{% endblock%}
