{% extends "base.html" %}

        <script src='{{ url_for('static',filename='js/jquery-1.12.0.min.js')}}'></script>

{% block content %}
        
        <script type="text/javascript">
            $(document).ready(function(){

                $('#filterselect').on('change', function() {
                    $('#filtersubmit').click();
                });

                $('#aces').on('click', function() {
                    $('#modelgridsubmit').click();
                });
                
                $('#atlas9').on('click', function() {
                    $('#modelgridsubmit').click();
                });

            });
        </script>

        <div class='form-group'>
            <h1>Limb Darkening Calculator</h1>
            <br>
            <p>

            The Limb Darkening Calculator calculates limb-darkening coefficients for a specified stellar model, plotting results versus intensity ratio and wavelength. If planetary orbital parameters are included, SPAM coefficients will also be returned.
            </p>

            <form class='form-horizontal' id='searchform' method='POST', novalidate>
                {{ form.hidden_tag() }}

                {% include 'target_resolve.html' %}

                <hr class="col-md-12">
                <div class='form-group'>
                    <label for="modeldir" class="col-sm-2 control-label">Choose a Model Grid</label>
                    <div class="col-sm-10">
                        {% for subfield in form.modeldir %}
                            <div class='radio'>
                                {% if subfield.label.text == 'Kurucz ATLAS9' %}
                                    {{ subfield(style='margin-left:0px;', id='atlas9', checked='checked') }}{{ subfield.label }}
                                    <span id="helpBlock" class="help-block">Wavelength Range: 0.1\(\mu\)m - 30.0\(\mu\)m</span>
                                {% else %}
                                    {{ subfield(style='margin-left:0px;', id='aces') }}{{ subfield.label }}
                                    <span id="helpBlock" class="help-block">Wavelength Range: 0.1\(\mu\)m - 2.6\(\mu\)m</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% for error in form.modeldir.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    {{ form.modelgrid_submit(id='modelgridsubmit', style="visibility: hidden;") }}
                </div>

                <hr class="col-md-12">
                <div class='form-group'>
                    <label for="modeldir" class="col-sm-2 control-label">Specify the Stellar Parameters</label>
                    <div class="col-sm-10">

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(T_\text{eff}\)</div>
                              {{ form.teff(value=form.teff.data, size=10, rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>K</div>
                        </div>
                        <span id="helpBlock" class="help-block">The stellar effective temperature ({{ form.teff.validators[1].min }} - {{ form.teff.validators[1].max }})</span>
                        {% for error in form.teff.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\log (g)\)</div>
                              {{ form.logg(value=form.logg.data, size=10, placeholder="3 - 6", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>dex</div>
                        </div>
                        <span id="helpBlock" class="help-block">The logarithm of the stellar surface gravity ({{ form.logg.validators[1].min }} - {{ form.logg.validators[1].max }})</span>
                        {% for error in form.logg.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\([\text{Fe}/\text{H}]\)</div>
                              {{ form.feh(value=form.feh.data, size=10, placeholder="-0.5 - +0.5", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>dex</div>
                        </div>
                        <span id="helpBlock" class="help-block">The logarithm of the stellar metallicity ({{ form.feh.validators[1].min }} - {{ form.feh.validators[1].max }})</span>
                        {% for error in form.feh.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                    </div>
                </div>

                                <hr class="col-md-12">
                <div class='form-group'>
                    <label for="modeldir" class="col-sm-2 control-label">Specify the Planetary Parameters (Required for SPAM Coefficients Only)</label>
                    <div class="col-sm-10">

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>Transit Duration</div>
                              {{ form.transit_duration(value=form.transit_duration.data, size=10, placeholder="0 - 50", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>hour</div>
                        </div>
                        <span id="helpBlock" class="help-block">The transit duration ({{ form.transit_duration.validators[1].min }} - {{ form.transit_duration.validators[1].max }})</span>
                        {% for error in form.transit_duration.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>Orbital Period</div>
                              {{ form.orbital_period(value=form.orbital_period.data, size=10, placeholder="0 - 1000", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>day</div>
                        </div>
                        <span id="helpBlock" class="help-block">The orbital period ({{ form.orbital_period.validators[1].min }} - {{ form.orbital_period.validators[1].max }})</span>
                        {% for error in form.orbital_period.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(R_\text{p}/R_\text{*}\)</div>
                              {{ form.rp_rs(value=form.rp_rs.data, size=10, placeholder="0 - 1.0", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'> </div>
                        </div>
                        <span id="helpBlock" class="help-block">The ratio of the planet radius to the stellar radius ({{ form.rp_rs.validators[1].min }} - {{ form.rp_rs.validators[1].max }})</span>
                        {% for error in form.rp_rs.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(a/R_\text{*}\)</div>
                              {{ form.a_rs(value=form.a_rs.data, size=10, placeholder="0 - 1.0", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'> </div>
                        </div>
                        <span id="helpBlock" class="help-block">The ratio of the semi-major axis to the stellar radius ({{ form.a_rs.validators[1].min }} - {{ form.a_rs.validators[1].max }})</span>
                        {% for error in form.a_rs.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>Inclination</div>
                              {{ form.inclination(value=form.inclination.data, size=10, placeholder="0 - 180", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>deg</div>
                        </div>
                        <span id="helpBlock" class="help-block">The inclination of the orbit ({{ form.inclination.validators[1].min }} - {{ form.inclination.validators[1].max }})</span>
                        {% for error in form.inclination.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>Eccentricity</div>
                              {{ form.eccentricity(value=form.eccentricity.data, size=10, placeholder="0 - 1.0", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'> </div>
                        </div>
                        <span id="helpBlock" class="help-block">The eccentricity of the orbit ({{ form.eccentricity.validators[1].min }} - {{ form.eccentricity.validators[1].max }})</span>
                        {% for error in form.eccentricity.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\omega \)</div>
                              {{ form.omega(value=form.omega.data, size=10, placeholder="0 - 360", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>deg</div>
                        </div>
                        <span id="helpBlock" class="help-block">The longitude of the periapsis ({{ form.omega.validators[1].min }} - {{ form.omega.validators[1].max }})</span>
                        {% for error in form.omega.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                    </div>
                </div>

                <hr class="col-md-12">
                <div class='form-group'>
                    
                    <label for="bandpass" class="col-sm-2 control-label">Choose a Bandpass</label>
                    <div class="col-sm-10">
                        <select class='form-control' name="bandpass" id="filterselect" style='width:304px;'>
                            {% for option in form.bandpass %}
                                <div class='radio'>
                                    {{ option }}
                                </div>
                            {% endfor %}
                        </select>
                        {{ form.filter_submit(id='filtersubmit', style="visibility: hidden;") }}

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\lambda_\text{min}\)</div>
                              {{ form.wave_min(value=form.wave_min.data, size=10, rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>\(\mu\)m</div>
                        </div>
                        <span id="helpBlock" class="help-block">The minimum wavelength to use</span>
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\lambda_\text{max}\)</div>
                              {{ form.wave_max(value=form.wave_max.data, size=10, rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>\(\mu\)m</div>
                        </div>
                        <span id="helpBlock" class="help-block">The maximum wavelength to use</span>
                        <br>

                        <div class="form-inline">
                            <div class="input-group col-sm-4"> 
                                <div class="input-group">
                                  <div class="input-group-addon" style='width:120px'># channels</div>
                                      {{ form.n_bins(value=form.n_bins.data, size=10, rows=1, class='form-control') }}
                                  <div class="input-group-addon" style='width:60px'></div>
                                </div>
                                <span id="helpBlock" class="help-block">The number of channels to use (for grisms)</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style='left: -10px;' class="col-sm-10 col-sm-offset-2">
                    {% for error in form.bandpass.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.wave_min.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.wave_max.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.n_bins.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <hr class="col-md-12">
                <div class='form-group'>
                    <label class="col-sm-2 control-label">Choose One or More Limb Darkening Profiles</label>
                    <div class="col-sm-10">
                        <div>
                            {% for box in form.profiles %}
                                <div class='radio'>
                                    {% if box.label.text == 'quadratic' %}
                                        {{ box(style='margin-right:-10px;', checked='checked') }}{{ box.label }}
                                    {% else %}
                                        {{ box(style='margin-right:-10px;') }}{{ box.label }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {% for error in form.profiles.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>Minimum \(\mu\)</div>
                              {{ form.mu_min(size=10, placeholder="0 - 1", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'></div>
                        </div>
                        <span id="helpBlock" class="help-block">The minimum angle to consider when fitting the LD profile</span>
                        {% for error in form.mu_min.errors[:1] %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        <br>

                    </div>
                </div>
                
                <hr class="col-md-12">
                <div class='form-group'>
                    <label for='submit' class="col-sm-2 control-label">Submit!</label>
                    <div class="col-sm-10">
                        <p>
                            {{ form.calculate_submit(class="btn btn-success") }}
                            <span id="helpBlock" class="help-block">This can take up to 20 seconds! Please be patient.</span>
                        </p>
                    </div>
                </div>
            
            </form>

        </div>

{% endblock %}
