{% extends "base.html" %}

        <script src='{{ url_for('static',filename='js/jquery-1.12.0.min.js')}}'></script>

{% block content %}
        
        <script>
            $(document).ready(function(){

                $('#filterselect').on('change', function() {
                    $('#filtersubmit').click();
                });

                $('#aces').on('click', function() {
                    $('#modelgridsubmit').click();
                });
                
                $('#atlas9').on('click', function() {
                    $('#modelgridsubmit').click();
                });

            });
        </script>

        <div class='form-group'>
            <h1>Limb Darkening Calculator</h1>
            <br>
            <p>

            The Limb Darkening Calculator calculates limb-darkening coefficients for a specified stellar model, plotting results versus intensity ratio and wavelength. It uses high
            spectral resolution stellar atmospheric models, which are a neccesisty given JWST's expected precision. 
            </p>

            <form class='form-horizontal' id='searchform' method='POST', novalidate>
                {{ form.hidden_tag() }}

                <hr class="col-md-12">
                <div class='form-group'>

                    <label for='' class="col-sm-2 control-label">Specify the Stellar Parameters</label>
                    <div class="col-sm-10">


                        <div class="input-group">
                            {{ form.targname(size=32, placeholder="WASP-18 b") }}<br>
                        </div>
                        <span id="helpBlock" class="help-block">The name of a target to resolve in ExoMAST</span>
                        <div class="input-group">
                            {{ form.resolve_submit(class="btn btn-success") }}
                        </div>
                        <br>
                        <span id="helpBlock" class="help-block">Or enter parameters manually</span>
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(T_\text{eff}\)</div>
                              {{ form.teff(value=form.teff.data, size=10, rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>K</div>
                        </div>
                        <span id="helpBlock" class="help-block">The stellar effective temperature ({{ form.teff.validators[1].min }} - {{ form.teff.validators[1].max }})</span>
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\log (g)\)</div>
                              {{ form.logg(value=form.logg.data, size=10, placeholder="3 - 6", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>dex</div>
                        </div>
                        <span id="helpBlock" class="help-block">The logarithm of the stellar surface gravity ({{ form.logg.validators[1].min }} - {{ form.logg.validators[1].max }})</span>
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\([\text{Fe}/\text{H}]\)</div>
                              {{ form.feh(value=form.feh.data, size=10, placeholder="-0.5 - +0.5", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>dex</div>
                        </div>
                        <span id="helpBlock" class="help-block">The logarithm of the stellar metallicity ({{ form.feh.validators[1].min }} - {{ form.feh.validators[1].max }})</span>
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>Minimum \(\mu\)</div>
                              {{ form.mu_min(size=10, placeholder="0 - 1", rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'></div>
                        </div>
                        <span id="helpBlock" class="help-block">The minimum angle to consider when fitting the LD profile</span>
                        <br>
                        {% for error in form.teff.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        {% for error in form.logg.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        {% for error in form.feh.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        {% for error in form.mu_min.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <hr class="col-md-12">
                <div class='form-group'>
                    <label for="modeldir" class="col-sm-2 control-label">Choose a Model Grid</label>
                    <div class="col-sm-10">
                        {% for subfield in form.modeldir %}
                            <div class='radio'>
                                {% if subfield.label.text == 'Phoenix ACES' %}
                                    {{ subfield(style='margin-left:0px;', id='aces', checked='checked') }}{{ subfield.label }}
                                {% else %}
                                    {{ subfield(style='margin-left:0px;', id='atlas9') }}{{ subfield.label }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% for error in form.modeldir.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    {{ form.modelgrid_submit(id='modelgridsubmit', style="visibility: hidden;") }}
                </div>

                <hr class="col-md-12">
                <div class='form-group'>
                    
                    <label for="bandpass" class="col-sm-2 control-label">Choose a Bandpass</label>
                    <div class="col-sm-10">
                        <select class='form-control' name="bandpass" id="filterselect" style='width:304px;'>
                            {% for option in form.bandpass %}
                                <div class='radio'>
                                    {{ option }}
                                </div>
                            {% endfor %}
                        </select>
                        {{ form.filter_submit(id='filtersubmit', style="visibility: hidden;") }}

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\lambda_\text{min}\)</div>
                              {{ form.wave_min(value=form.wave_min.data, size=10, rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>\(\mu\)m</div>
                        </div>
                        <span id="helpBlock" class="help-block">The minimum wavelength to use</span>
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\lambda_\text{max}\)</div>
                              {{ form.wave_max(value=form.wave_max.data, size=10, rows=1, class='form-control') }}
                          <div class="input-group-addon" style='width:60px'>\(\mu\)m</div>
                        </div>
                        <span id="helpBlock" class="help-block">The maximum wavelength to use</span>
                        <br>

                        <div class="form-inline">
                            <div class="input-group col-sm-4"> 
                                <div class="input-group">
                                  <div class="input-group-addon" style='width:120px'># channels</div>
                                      {{ form.n_bins(value=form.n_bins.data, size=10, rows=1, class='form-control') }}
                                  <div class="input-group-addon" style='width:60px'></div>
                                </div>
                                <span id="helpBlock" class="help-block">The number of channels to use (for grisms)</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style='left: -10px;' class="col-sm-10 col-sm-offset-2">
                    {% for error in form.bandpass.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.wave_min.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.wave_max.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.n_bins.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <hr class="col-md-12">
                <div class='form-group'>
                    <label class="col-sm-2 control-label">Choose One or More Limb Darkening Profiles</label>
                    <div class="col-sm-10">
                        <div>
                            {% for box in form.profiles %}
                                <div class='radio'>
                                    {% if box.label.text == 'quadratic' %}
                                        {{ box(style='margin-right:-10px;', checked='checked') }}{{ box.label }}
                                    {% else %}
                                        {{ box(style='margin-right:-10px;') }}{{ box.label }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {% for error in form.profiles.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                
                <hr class="col-md-12">
                <div class='form-group'>
                    <label for='submit' class="col-sm-2 control-label">Submit!</label>
                    <div class="col-sm-10">
                        <p>
                            {{ form.calculate_submit(class="btn btn-success") }}
                            <span id="helpBlock" class="help-block">This can take up to 20 seconds! Please be patient.</span>
                        </p>
                    </div>
                </div>
            
            </form>

        </div>

{% endblock %}
