{% extends "base.html" %}

        <script src='{{ url_for('static',filename='js/jquery-1.12.0.min.js')}}'></script>

{% block content %}
        
        <script>
            $(document).ready(function(){
            
                $('#filterselect').on('change', function() {
                  if ( this.value == 'WFC3_IR.G102' || this.value == 'WFC3_IR.G141' || this.value == 'NIRISS.GR700XD.1')
                  {
                      $("#n_bins").show();
                      $("#or").show()
                      $("#and").hide()
                  } 
                  else if ( this.value == 'tophat' )
                  {
                      $("#n_bins").show()
                      $("#and").show()
                      $("#or").hide()
                  }
                  else
                  {
                    $("#n_bins").hide();
                  }
                });
                
            });
        </script>

        <div class='form-group'>
            <h1>Limb Darkening Calculator</h1>
            <br>
            <p>
            
            The Limb Darkening Calculator calculates limb-darkening coefficients for a specified stellar model, plotting results versus intensity ratio and wavelength. It uses high
            spectral resolution stellar atmospheric models, which are a neccesisty given JWST's expected precision. 
            </p>
    
            <form class='form-horizontal' id='searchform' method='post' action='limb_darkening_results' >
                
                <hr class="col-md-12">
                <div class='form-group'>
                    <label for="modeldir" class="col-sm-2 control-label">Choose a Model Grid</label>
                    <div class="col-sm-10">
                        <div class='radio'>
                            <label>
                                <input type="radio" name="modeldir" value="default" checked/> Phoenix ACES
                            </label>
                        </div>
                        <div class='radio'>
                            <label style='color:grey;'>
                                <input type="radio" name="modeldir" value="/user/jfilippazzo/Models/ATLAS9/default/" disabled/> Kurucz ATLAS9
                            </label>
                        </div>
                        <div class='radio'>
                            <label style='color:grey;'>
                                <input type="radio" name="modeldir" value="" disabled/> Local files: <input type="text" name="local_files" size="40" rows="1" value=""/>​​​​​​​​​​​​​​​​​​​​​​
                            </label>
                        </div>
                    </div>
                </div>
                
                <hr class="col-md-12">
                
                <div class='form-group'>
                    
                    <label for="bandpass" class="col-sm-2 control-label">Choose a Bandpass</label>
                    <div class="col-sm-10">
                
                        <select class='form-control' name="bandpass" id="filterselect">
                            <option value="tophat"> Top Hat</option>
                            <option value="NIRISS.GR700XD.1"> NIRISS.GR700XD.1</option>
                            {{filters|safe}}
                        </select>
                    </div>
                </div>
                
                <br>
                
                <div id='n_bins' class='form-group', style='display:none;'>
                    
                    <label for='' class="col-sm-2 control-label">Grism Details</label>
                    <div class="col-sm-10">                        
                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\lambda_\text{min}\)</div>
                          <input id='wave_min' type="text" class='form-control' name="wave_min" size="10" rows="1" value="" placeholder=""/>
                          <div class="input-group-addon" style='width:60px'>\(\mu\)m</div>
                        </div>
                        <span id="helpBlock" class="help-block">The minimum wavelength of the grism to use</span>
                        
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\lambda_\text{max}\)</div>
                          <input id='wave_max' type="text" class='form-control' name="wave_max" size="10" rows="1" value="" placeholder=""/>
                          <div class="input-group-addon" style='width:60px'>\(\mu\)m</div>
                        </div>
                        <span id="helpBlock" class="help-block">The maximum wavelength of the grism to use</span>
                        
                        <br>

                        <div class="form-inline">
                            <div class="input-group col-sm-4"> 
                                <div class="input-group">
                                  <div class="input-group-addon" style='width:120px'># channels</div>
                                  <input id='n_bins' type="text" class='form-control' name="n_bins" size="10" rows="1" value="" placeholder=""/>
                                </div>
                                <span id="helpBlock" class="help-block">The number of channel to split the grism into</span>
                            </div>
                            
                            <div class="input-group col-sm-1"> 
                                <strong><span id='and'>AND</span><span id='or' style='display:none;'>OR</span></strong>
                            </div>
                            
                            <div class="input-group col-sm-4">
                                <div class="input-group"> 
                                  <div class="input-group-addon" style='width:120px'># pix/channel</div>
                                  <input id='pixels_per_bin' type="text" class='form-control' name="pixels_per_bin" size="10" rows="1" value="" placeholder=""/>
                                 </div>
                                  <span id="helpBlock" class="help-block">The number of pixels in each grism channel</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <hr class="col-md-12">
                
                <div class='form-group'>
                    
                    <label class="col-sm-2 control-label">Choose One or More Limb Darkening Profiles</label>
                    <div class="col-sm-10">
                        
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="uniform" value="uniform">
                            Uniform
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="linear" value="linear">
                            Linear
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="quadratic" value="quadratic" checked>
                            Quadratic
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="square-root" value="square-root">
                            Square Root
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="logarithmic" value="logarithmic">
                            Logarithmic
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="exponential" value="exponential">
                            Exponential
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="3-parameter" value="3-parameter">
                            3-parameter
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="4-parameter" value="4-parameter">
                            4-parameter
                          </label>
                        </div>
                        
                    </div>
                </div>
                
                <hr class="col-md-12">
                
                <div class='form-group'>
                    
                    <label for='' class="col-sm-2 control-label">Specify the Stellar Parameters</label>
                    <div class="col-sm-10">
                        
                      <!-- You will not be able to see this text. -->
                        <div class="input-group">
                            <input type="text" name="targetname" placeholder="WASP-18 b" size="30" maxlength="110"/><br>
                        </div>

                        <br>

                        <div class="input-group">
                            <input class="btn btn-success" type="submit" name="submit" value="Retrieve Parameters"/>
                        </div>
                        <span id="helpBlock" class="help-block">Enter parameters manually if no target name provided</span>

                        <br>
                      <!-- You will not be able to see this text. -->

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(T_\text{eff}\)</div>
                          <input id='teff' type="text" class='form-control' name="teff" size="10" rows="1" placeholder="6431"/>
                          <div class="input-group-addon" style='width:60px'>K</div>
                        </div>
                        <span id="helpBlock" class="help-block">The stellar effective temperature</span>
                        
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\(\log (g)\)</div>
                          <input id='logg' type="text" class='form-control' name="logg" size="10" rows="1" placeholder="4.47"/>
                          <div class="input-group-addon" style='width:60px'>dex</div>
                        </div>
                        <span id="helpBlock" class="help-block">The logarithm of the stellar surface gravity</span>
                        
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>\([\text{Fe}/\text{H}]\)</div>
                          <input id='feh' type="text" class='form-control' name="feh" size="10" rows="1" placeholder="0.13"/>
                          <div class="input-group-addon" style='width:60px'>dex</div>
                        </div>
                        <span id="helpBlock" class="help-block">The logarithm of the stellar metallicity</span>
                        
                        <br>

                        <div class="input-group">
                          <div class="input-group-addon" style='width:120px'>Minimum \(\mu\)</div>
                          <input id='mu_min' type="text" class='form-control' name="mu_min" size="10" rows="1" value=0.1 placeholder="0.1"/>
                          <div class="input-group-addon" style='width:60px'></div>
                        </div>
                        <span id="helpBlock" class="help-block">The minimum angle to consider when fitting the LD profile</span>
                    </div>
                </div>
                
                <hr class="col-md-12">
                
                <div class='form-group'>
                    
                    <label for='submit' class="col-sm-2 control-label">Submit!</label>
                    <div class="col-sm-10">
                      <p>
                        <input id='submit' class="btn btn-success" type='submit' value='Calculate Coefficients'></p>
                        <span id="helpBlock" class="help-block">This can take up to 20 seconds! Please be patient.</span>
                      </p>
                     </div>
                </div>
            
            </form>

        </div>

{% endblock %}
