{%extends "base.html" %}

{% block content %}
<!doctype html>
<link rel="stylesheet" href="/static/css/select2-bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/icheck-bootstrap.min.css">
<script type="text/javascript" async
        scr="/static/js/starter.form.js">
</script>
<script type="text/javascript" async
        src="/static/js/select2.min.js">
</script>

<div class='form-group'>
    <h1>Phase Constraint Calculator</h1>
    <br>

    <p>
        Due to uncertainties on the exact scheduling time of JWST observations, users are strongly encouraged to input minimum and maximum phases on the APT "Timing" requirements under the 
        "Special Requirements" section when planning their observations. This gives the observatory a range of time (the "Window Size"; which should be of one hour or larger in order to not 
        incur into <a href="https://jwst-docs.stsci.edu/jppom/visit-overheads-timing-model/overhead-duration-components">direct scheduling overheads</a>) on which observations might start. 
        This is illustrated in the following diagram:
    </p>
    <br>
    <p>
    <img src="/static/images/phase_constraint.png" alt="Phase-constraint diagram." width="1000px">
    </p>
    <br>
    <p>
    The <b>Phase Constraint Calculator provides a simple interface for calculating this JWST observation window for direct input on APT.</b> This tool always assumes the zero-phase is at 
    mid-transit, and thus that value is the one that should be input under "Zero phase (HJD)" in APT. Users can either resolve target properties from exo.MAST using the "Resolve Target" button 
    below or input their own. If using the former, <b>users are strongly encouraged to check that the retrieved properties are up-to-date</b>. 
    </p>

    <form class='form-horizontal' action="/phase_constraint" method="POST">
        {{ form.hidden_tag() }}

        {% include 'target_resolve.html' %}

        <hr class="col-md-12">

        <div class='form-group'>

            <label for='mag' class="col-sm-2 control-label">Period</label>
            <div class="col-sm-10">
            
                <div class="input-group">
                    {{ form.orbital_period(value=form.orbital_period.data, size=10, rows=1, class='form-control') }}
                    <div class="input-group-addon" style='width:60px'>\(\small \text{Days}\)</div>
                </div>
                <span id="helpBlock" class="help-block">Period of Target</span>
                {% for error in form.orbital_period.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>

            <br>

            <label for='mag' class="col-sm-2 control-label">Eccentricity (optional)</label>
            <div class="col-sm-10">
    
                <div class="input-group">
                    {{ form.eccentricity(value=form.eccentricity.data, size=10, rows=1, class='form-control') }}
                </div>
                <span id="helpBlock" class="help-block">(Only used to compute secondary eclipse time/phase constraints)</span>
            </div>

            <br>

            <label for='mag' class="col-sm-2 control-label">Argument of periastron (optional)</label>
            <div class="col-sm-10">
    
                <div class="input-group">
                    {{ form.omega(value=form.omega.data, size=10, rows=1, class='form-control') }}
                    <div class="input-group-addon" style='width:60px'>\(\small \text{Degrees}\)</div>
                </div>
                <span id="helpBlock" class="help-block">Argument of periastron passage (only used to compute secondary eclipse time/phase constraints)</span>
            </div>

            <br>

            <label for='mag' class="col-sm-2 control-label">Inclination (optional)</label>
            <div class="col-sm-10">
    
                <div class="input-group">
                    {{ form.inclination(value=form.inclination.data, size=10, rows=1, class='form-control') }}
                    <div class="input-group-addon" style='width:60px'>\(\small \text{Degrees}\)</div>
                </div>
                <span id="helpBlock" class="help-block">Inclination of the orbit (only used to compute secondary eclipse time/phase constraints)</span>
            </div>

            <br>

            <label for='mag' class="col-sm-2 control-label">Target observation</label>


            <div class="col-sm-3">

                    <select id="transit_type" name="transit_type" class="form-control" data-placeholder="Select type">
                        <option value="primary">Primary Transit</option>
                        <option value="secondary">Secondary Eclipse</option>
                    </select>
                    <span id="helpBlock" class="help-block">Calculate constraint for primary transits or secondary eclipses?</span>
            </div>

            <br>

            <hr class="col-md-12">

            <label for='mag' class="col-sm-2 control-label">Pre mid-transit/eclipse time on target</label>
            <div class="col-sm-10">
            
                <div class="input-group">
                    {{ form.observation_duration(value=form.observation_duration.data, size=10, rows=1, class='form-control') }}
                    <div class="input-group-addon" style='width:60px'>\(\small \text{Hours}\)</div>
                </div>
                <span id="helpBlock" class="help-block">Time planned to be spent on target prior to mid-transit/eclipse (Default: 0.75 Hr + Max(1 Hr + T<sub>14</sub>/2, T<sub>14</sub>) when using Resolver)</span>
                {% for error in form.observation_duration.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>


            <label for='mag' class="col-sm-2 control-label">Window Size</label>
            <div class="col-sm-10">
            
                <div class="input-group">
                    {{ form.window_size(value=1, size=10, rows=1, class='form-control') }}
                    <div class="input-group-addon" style='width:60px'>\(\small \text{Hours}\)</div>
                </div>
                <span id="helpBlock" class="help-block">Size of observation start window (Default 1 hour)</span>
            </div>
            
            <hr class="col-md-12">
            <div class='form-group'>
                <label for='submit' class="col-sm-2 control-label">Submit!</label>
                <div class="col-sm-10">
                    <p>
                        {{ form.calculate_submit(class="btn btn-success") }}
                        <span id="helpBlock" class="help-block">Calculate Phase Constraints for Target.</span>
                    </p>
                </div>
            </div>

            <label for='mag' class="col-sm-2 control-label">Transit Mid-Point</label>
            <div class="col-sm-10">
    
                <div class="input-group">
                    {{ form.transit_time(value=form.transit_time.data, size=10, rows=1, class='form-control') }}
                    <div class="input-group-addon" style='width:60px'>\(\small \text{BJD or HJD}\)</div>
                </div>
                <span id="helpBlock" class="help-block">Time of transit-center of target (this goes under "Zero Phase" in APT). Automatically fills when hitting "Resolve Target".</span>
            </div>

            <br>

            <label for='mag' class="col-sm-2 control-label">Minimum Phase</label>
            <div class="col-sm-10">
            
                <div class="input-group">
                    {{ form.minimum_phase(value=form.minimum_phase.data, size=10, rows=1, class='form-control') }}
                </div>
                <span id="helpBlock" class="help-block">Minimum Phase of Observation</span>
            </div>

            <br>

            
            <label for='mag' class="col-sm-2 control-label">Maximum Phase</label>
            <div class="col-sm-10">
            
                <div class="input-group">
                    {{ form.maximum_phase(value=form.maximum_phase.data, size=10, rows=1, class='form-control') }}
                </div>
                <span id="helpBlock" class="help-block">Maximum Phase of Observation</span>
            </div>

        </div>
        


</div>

{% endblock %}
