name: exoctk-3.7
channels:
  - defaults
  - http://ssb.stsci.edu/astroconda
dependencies:
  - astropy<4.1
  - bokeh=2.4.2
  - boto3
  - cython=0.29.24
  - docopt=0.6.2
  - docutils=0.17.1
  - flake8=3.9.0
  - flask=1.1.2
  - gunicorn=20.1.0
  - h5py=3.6.0
  - ipython=7.29.0
  - jupyter=1.0.0
  - matplotlib=3.1.3
  - numpy=1.19.2
  - numpydoc=1.1.0
  - pandas=1.3.2
  - paramiko=2.8.1
  - pip=20.3.3
  - pytest=6.2.3
  - python=3.7.1
  - pyyaml
  - scipy=1.6.2
  - scp=0.14.1
  - sphinx=4.2.0
  - sqlalchemy=1.4.27
  - twine=3.4.1
  - wtforms=2.3.3
  - pip:
    - asteval==0.9.25
    - awscli
    - bandit==1.7.1
    - batman-package==2.4.8
    - bibtexparser==1.2.0
    - corner==2.2.1
    - ddtrace==0.57.0
    - flask_wtf==1.0.0
    - lmfit==1.0.1
    - platon==4.0
    - pysiaf==0.10.0
    - pysynphot==2.0.0
    - PyYAML>=5.4
    - sphinx_astropy==1.6.0
    - svo-filters==0.4.1
    - werkzeug>=2.0
    - git+https://github.com/spacetelescope/jwst_gtvt.git@cd6bc76f66f478eafbcc71834d3e735c73e03ed5
    - git+https://github.com/astropy/astroquery.git@ccc96185beeff86f3a12a31a00a801afcebe1dbe