name: exoctk-3.8
channels:
  - defaults
  - http://ssb.stsci.edu/astroconda
dependencies:
  - astropy<4.1
  - bokeh=2.3.0
  - boto3
  - cython=0.29.22
  - docopt=0.6.2
  - docutils=0.16
  - flake8=3.9.0
  - flask=1.1.2
  - gunicorn=20.1.0
  - h5py=2.10.0
  - ipython=7.22.0
  - jupyter=1.0.0
  - matplotlib=3.3.4
  - numpy=1.19.2
  - numpydoc=1.1.0
  - pandas=1.2.3
  - paramiko=2.7.2
  - pip=20.3.3
  - pytest=6.2.3
  - python=3.8.5
  - pyyaml
  - scipy=1.6.2
  - scp=0.13.3
  - sphinx=3.5.3
  - sqlalchemy=1.3.23
  - wtforms=2.3.3
  - pip:
    - asteval==0.9.22
    - awscli
    - bandit==1.7.0
    - batman-package==2.4.7
    - bibtexparser==1.2.0
    - corner==2.2.1
    - flask_wtf==0.14.3
    - lmfit==1.0.2
    - platon==5.1.2
    - pysiaf==0.10.0
    - pysynphot==1.0.0
    - sphinx_astropy==1.3
    - svo-filters==0.4.1
    - werkzeug==0.16.1
    - git+https://github.com/spacetelescope/jwst_gtvt.git@cd6bc76f66f478eafbcc71834d3e735c73e03ed5
    - git+https://github.com/astropy/astroquery.git@ccc96185beeff86f3a12a31a00a801afcebe1dbe