name: exoctk-3.7
channels:
  - defaults
  - http://ssb.stsci.edu/astroconda
dependencies:
  - astropy=3.2.2
  - bokeh=2.0.1
  - boto3
  - cython=0.29.15
  - docopt=0.6.2
  - docutils=0.15.2
  - flake8=3.7.7
  - flask=1.0.2
  - gunicorn=19.9.0
  - h5py=2.8.0
  - ipython=7.12.0
  - jupyter=1.0.0
  - matplotlib=3.1.3
  - numpy=1.18.1
  - numpydoc=0.9.2
  - pandas=1.0.3
  - paramiko=2.6.0
  - pytest=5.4.1
  - python=3.7.1
  - scipy=1.4.1
  - scp=0.13.2
  - sphinx=2.4.4
  - sqlalchemy=1.3.15
  - wtforms=2.2.1
  - pip:
    - asteval==0.9.13
    - astroquery==0.4
    - awscli
    - bandit==1.6.2
    - batman-package==2.4.6
    - bibtexparser==1.0.1
    - corner==2.0.1
    - flask_wtf==0.14.3
    - lmfit==0.9.13
    - platon==3.1
    - pysynphot==0.9.12
    - pyyaml==5.3.1
    - sphinx==2.1.2
    - svo-filters==0.2.16
    - werkzeug==0.16.1
    - git+https://github.com/spacetelescope/jwst_gtvt.git@cd6bc76f66f478eafbcc71834d3e735c73e03ed5
